.orderContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 0.5rem;
  position: relative;
  .orderCard {
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.05);
    .orderInfo {
      display: flex;
      align-items: center;
      gap: 0.2rem;

      .orderState {
        background-color: #eee;
        color: #666;
        font-size: 0.8rem;
        padding: 0.1rem 0.3rem;
        border-radius: 0.5rem;
        &.current {
          background-color: #2563eb;
          color: white;
        }
      }
      .expireTime {
        color: #666;
        font-size: 0.8rem;
      }
    }

    .orderDetail {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      margin-top: 0.3rem;

      .goodsImage {
        width: 3rem;
        height: 3rem;
        object-fit: cover;
      }
      .goodsInfo{
        font-size: 0.9rem;;
      }
    }
  }
}


.noData{
  text-align: center;
  padding-top: 2rem ;
  color:#555;
}
