@import "tailwindcss/utilities";

.text-overflow-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.translate-x-y {
  transform: translateX(-50%) translateY(-50%);
}

.fade-out {
  opacity: 1;
  animation: fade-out 2s linear forwards;
}

.h-auto{
  height: auto !important;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.rotate-animation {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.border {
  border: 1px solid;
}

.border-gray {
  border-color: #ccc;
}

.ellipsis-line-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


.translate-x-8{
  transform: translateX(32px);
}

