.container {
  height: 100vh;
  background: #f5f5f5;
  .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .userList {
      display: flex;
      align-items: flex-start;
      gap: 0.5rem;
      .avatar {
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        object-fit: contain;
      }
    }
  }
  .operationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    gap: 2rem;
    .button {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      padding: 1.5rem;
      border-radius: 0.5rem;
      box-sizing: border-box;
      font-weight: bold;
      cursor: pointer;
      height: 2rem;

      .img {
        width: 1rem;
        height: 1rem;
      }

      &.goto {
        background-color: #f33a50;
        color: white;
      }
      &.newGroup {
        color: #f33a50;
        border: 1px solid #fceae9;
        background-color: #fff4f6;
      }
    }
  }
}

.text {
  color: #666;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}
