.text {
  color: #444;
  font-size: 0.9rem;
  display: flex;
  word-break: break-all;
}

.modal {
  position: absolute;
  background: white;
  height: 23rem;
  bottom: 0;
  inset-inline: 0;
  padding: 0.5rem;
  z-index: 2;
  transition: bottom 0.3s linear;
  &.close {
    bottom: -100vh;
  }
  .modalContent {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
.mask {
  background: #000;
  opacity: 0.5;
  z-index: 1;
  inset: 0;

  position: absolute;
}

.uploadBtn {
  display: flex;
  margin-block: 0.8rem;
  font-size: 1rem;
  background-color: #3b82f6;
  color: white;
  justify-content: center;
  margin-inline: 0.5rem;
  padding: 0.4rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.2rem;
}

.postBtn {
  background-color: #67c23a;
}
