$text-active: #3b82f6;
$text-darker: #2563eb;

.container {
  display: flex;
  flex-direction: column;
  color: white;
  background: $text-active;
  gap: 0.5rem;
  min-height: 100vh;
  padding-inline: 0.6rem;
  .util-container {
    display: flex;
    align-items: center;
    gap: 1rem;

    .input-container {
      position: relative;
      flex: 1;
      .input {
        border: 1px solid #ccc;
        border-radius: 2rem;
        padding-left: 0.6rem;
        padding-block: 0.4rem;
        background-color: white;
        padding-right: 5.5rem;
        color: #555;
        z-index: 0;
      }

      .clearBtn {
        width: 1.2rem;
        height: 1.2rem;
        z-index: 1;
        position: absolute;
        right: 3.5rem;
        top: 0.5rem;
      }
      .btn {
        position: absolute;
        right: 0.5rem;
        top: 0.3rem;
        width: 2.5rem;
        padding: 0.1rem;
        padding-block: 0.15rem;
        background: $text-active;
        color: white;
        text-align: center;
        border-radius: 0.6rem;
        transition: all 0.3s;
        &:hover {
          background-color: $text-darker;
        }
      }
    }
    .create-btn {
      width: 2rem;
    }
  }
  .list-type {
    margin-bottom: 0.5rem;
    .list {
      font-size: 1.2rem;
      margin-right: 1rem;
      transition: all 0.3s;
      &.active {
        font-weight: bold;
        text-decoration: underline;
        text-underline-offset: 0.4rem;
      }
    }
  }
}
