$text-active: #3b82f6;
$text-darker: #2563eb;

.container {
  display: flex;
  flex-direction: column;
  color: white;
  background: $text-active;
  gap: 0.5rem;
  min-height: 100vh;
  padding-inline: 0.6rem;
  position: relative;
  .util-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: calc(100vw - 1.2rem);
    margin-bottom: 0.6rem;
  }
  .list-type {
    margin-bottom: 0.5rem;
    .list {
      font-size: 1.2rem;
      margin-right: 1rem;
      transition: all 0.3s;
      &.active {
        font-weight: bold;
        text-decoration: underline;
        text-underline-offset: 0.4rem;
      }
    }
  }
}
